.navegador {
    background-color: var(--color_aquamarina);
    height: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navegador button {
    background-color: var(--color_aquamarina);
    border: none;
    align-items:center;
    color: white;
}
