.catalogoHeader {
  background-color: var(--color_aquamarina);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*
.catalogoHeader p {
  color: #fff;
}
*/
.catalogoHeader button {
  color: slategrey;
}

.catalogoTitulo {
  display: flex;

}