/*@import './landingStyle/landingHeader.css';
@import './landingStyle/sliderLanding.css';
*/
/*html {
    --background_color: #fff;
    --color_aquamarina: #3c7073;
    --fondo_card: #e6f0e2;
    --color_footer: #94BEB6;
  }*/
  